.brands-list {
	border-right: 1px solid #232323;
	padding-right: 45px;
	@media (max-width: 1200px) {
		padding-right: 10px;
	}
	// .brands-list__title
	&__title {
		font-size: 25px;
		cursor: pointer;
	}

	&__all {
		font-size: 30px;
		white-space: nowrap;
		min-width: 150px;
		cursor: pointer;
	}

	&__active {
		font-weight: 700;
		text-decoration: underline #232323;
	}
}
